.video-container {
    position: relative;
    border: 1px dashed #aaa;
    cursor: move;
    background-color: #000;
}

.video-settings-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
    z-index: 10;
}
