.edit-slides-container {
  display: flex;
  height: 100vh;
  background-color: #f9fafb;
}

.slide-thumbnails {
  width: 150px;
  border-right: 1px solid #ddd;
  padding: 10px;
  overflow-y: auto;
  background-color: #f5f5f5;
}

.thumbnail-item {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-item.active {
  background-color: #4CAF50;
  color: white;
}

.thumbnail-preview {
  width: 100%;
  height: 60px;
  background-color: white;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
}

.slides-editor {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.slide-page {
  width: 630px;
  height: 430px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.slide-page.active-slide {
  border: 2px solid #4CAF50;
}

.slide-textarea {
  width: 600px;
  height: 400px;
  padding: 10px;
  font-size: 16px;
  border: none;
  resize: none;
  outline: none;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.nav-button.disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.back-to-dashboard-button,
.delete-slide-deck-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
}

.delete-slide-deck-button {
  background-color: #dc3545;
}

.delete-slide-button{
  color: white;
  background-color: #8b0512;
  padding: 10px;
  border-radius: 5px;
}